<%= form_for(@team) do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome do time" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <select id="user_ids" name="user_ids[]" multiple="multiple">
     <%= options_for_select(@users,@team.users.collect {|d| d.id}) %>
    </select>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
