<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>
<p>
  <strong>Membros da Equipe:</strong>
<% @users.each do |user| %>
  <%= link_to user.name , user_path(user) %>
<% end %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
