<h1>Login</h1>

<%= form_tag('/sessions/create') do %>
  <% if @errors.any? %>
    <div id="error_explanation">
      <h2>Erro no Login</h2>

      <ul>
      <% @errors.each do |message| %>
        <li><%= message %>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= label_tag :login, "Email" %>
    <%= text_field_tag :login %>
  </div>

  <div class="field">
    <%= label_tag :password, "Senha" %>
    <%= password_field_tag :password %>
  </div>
  <%= submit_tag "Entrar" %>
<% end %>
