<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome" %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :date, "Data" %><br>
    <%= f.datetime_select :date %>
  </div>
  <div class="field">
    <%= f.label :image_url, "Imagem" %><br>
    <%= f.text_area :image_url %>
  </div>
  <div class="field">
    <%= f.label :description, "Descrição" %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit "Criar" %>
  </div>
<% end %>
