<!DOCTYPE html>
<html>
  <head>
    <title>Claudia</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    
  </head>

  <%= render 'header' %>
  <body>

    

    <div class="space">

      <div class = "sidebar">

        <ul>
          <li> <%= link_to 'Eventos', events_path %></li>
          <li> <%= link_to 'Equipes', teams_path %></li>
          <li> <%= link_to 'Usuários', users_path %> </li>

        </ul>


        <% if flash[:notice] %>
        <div id="notice">
          <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> 

          <%= flash[:notice] %>
        </div>
    <% end %>
      </div>

      <div class="content_wrap">

        <div class="content">
        <%= yield %>
        </div>
      </div>

  </div>

  </body>

  <%= render 'footer' %>
</html>
